@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
button {
    background: #11a683;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    margin: -80px auto auto;
    padding: 16px 32px;
    /* position: relative; */
}